# SubscriptionIdentifier
# ResourceGroup
# Location
# VirtualNetwork
# NetworkSecurityGroup
# ConfidentialOsDisksUrl
# ConfidentialOsDiskVgmsUrl
# OsDiskStorageAccount
20c11edd-abb4-4bc0-a6d5-c44d6d2524be
MyTestConfidentialResourceGroup
eastus
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/virtualNetworks/FirstConfidentialVm-vnet
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/networkSecurityGroups/FirstConfidentialVm-nsg
https://newcon60195.blob.core.windows.net/vhds/1ubuntu20.04.vhd
https://newcon60195.blob.core.windows.net/vhds/vmgs.vhd
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Storage/storageAccounts/newcon60195
# One or more virtual machine settings using the template. The number of virtual
# machines to instantiate is derived from the number of entries below
# BaseMachineName,VirtualMachineSize,DigitalContractIdentifier,DatasetFile
Standard_DC8as_v4,{33AD6CC5-D946-41BF-B079-032A19F1A34B},h1.csvp
Standard_DC8as_v4,{3D17F9EA-30F1-4FBB-A94F-B090571C98AC},h2.csvp
Standard_DC8as_v4,{3514ABE5-E27E-4F45-B1CA-1A086C4ADFE6},kca.csvp