# SubscriptionIdentifier
# ResourceGroup
# Location
# VirtualNetwork
# NetworkSecurityGroup
# ConfidentialOsDisksUrl
# ConfidentialOsDiskVgmsUrl
# OsDiskStorageAccount
20c11edd-abb4-4bc0-a6d5-c44d6d2524be
MyTestConfidentialResourceGroup
eastus
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/virtualNetworks/FirstConfidentialVm-vnet
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/networkSecurityGroups/FirstConfidentialVm-nsg
https://newcon60195.blob.core.windows.net/vhds/1ubuntu20.04.vhd
https://newcon60195.blob.core.windows.net/vhds/vmgs.vhd
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Storage/storageAccounts/newcon60195
# One or more virtual machine settings using the template. The number of virtual
# machines to instantiate is derived from the number of entries below
# BaseMachineName,VirtualMachineSize,DigitalContractIdentifier,DatasetFile
Standard_DC8as_v4,{3E094FD8-DC5C-4E7D-805B-5EBE88882A89},h1.csvp
Standard_DC8as_v4,{39C974CD-DF25-4D5D-B60F-331DEC54BBC3},h2.csvp
Standard_DC8as_v4,{3C500C34-9CAF-4F89-8857-46D709B1D004},kca.csvp