# SubscriptionIdentifier
# ResourceGroup
# Location
# VirtualNetwork
# NetworkSecurityGroup
# ConfidentialOsDisksUrl
# ConfidentialOsDiskVgmsUrl
# OsDiskStorageAccount
20c11edd-abb4-4bc0-a6d5-c44d6d2524be
MyTestConfidentialResourceGroup
eastus
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/virtualNetworks/FirstConfidentialVm-vnet
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/networkSecurityGroups/FirstConfidentialVm-nsg
https://newcon60195.blob.core.windows.net/vhds/1ubuntu20.04.vhd
https://newcon60195.blob.core.windows.net/vhds/vmgs.vhd
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Storage/storageAccounts/newcon60195
# One or more virtual machine settings using the template. The number of virtual
# machines to instantiate is derived from the number of entries below
# BaseMachineName,VirtualMachineSize,DigitalContractIdentifier,DatasetFile
Standard_DC8as_v4,{36D165E4-57A3-4C20-87E9-E23079BA56AA},h1.csvp
Standard_DC8as_v4,{37CC4F3C-A57A-41ED-87E8-25C5E60B8FF3},h2.csvp
Standard_DC8as_v4,{326470CA-EAA8-47A2-BB52-9ECB2191CCEB},kca.csvp